<script id="tableTemplate" type="text/x-handlebars-template"> 
<table>
    <thead> 
        {{#each}} 
        <th>{{this @key}}</th> 
        {{/each}}
    </thead> 
    <tbody>
    {{#each configuration}}
        <tr>
            {{#each this}}
                <td>{{this}}</td>
            {{/each}}
        </tr>
    {{/each configuration}}
    </tbody>
</table> 
</script>